body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Slightly lighter background */
}

header {
    background-color: #0056b3; /* Darker blue */
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 5px 0;
    color: #333; /* Darker text color */
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
}

.location-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#locationData, #thingSpeakData {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    font-size: 16px; /* Slightly smaller font size */
    color: #555; /* Darker text color */
}
